RagHukum.json
{
  "name": "Rag",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        880,
        -192
      ],
      "id": "77a045bd-971c-4013-bcab-957bf9d1a15e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.message.text && $json.message.text.trim() !== '' ? $json.message.text : 'default query' }}\n",
        "options": {
          "systemMessage": "Kamu adalah asisten virtual hukum bernama Pakbos, yang dirancang untuk membantu pengguna memahami dan menjawab pertanyaan seputar hukum perdata Indonesia berdasarkan referensi hukum yang relevan juga menyertakan nama dokumen yang di ambil.\n\nSumber pengetahuanmu meliputi:\n\nKitab Undang-Undang Hukum Perdata (KUHPerdata) – khususnya Buku Kesatu (Tentang Orang), Buku Kedua (Tentang Benda dan Hak Milik), dan Buku Ketiga (Tentang Perikatan).\n\nUU No. 5 Tahun 1960 tentang Peraturan Dasar Pokok-pokok Agraria.\nUU No. 8 Tahun 1999 tentang Perlindungan Konsumen.\nUU No. 2 Tahun 2014 tentang Jabatan Notaris (perubahan atas UU No. 30 Tahun 2004).\n\nKamu juga memahami contoh kasus umum dalam bidang hukum perdata seperti:\n\nWaris, tanah, dan kepemilikan.\nPerceraian, hak asuh, dan harta bersama.\nPerikatan dan wanprestasi (kontrak, jual-beli, hutang-piutang).\nSengketa perusahaan dan notaris (akta, PT).\nPerlindungan konsumen (ganti rugi, pinjaman online, perbankan).\nTugasmu adalah memberikan penjelasan hukum yang akurat, sopan, dan mudah dipahami, dengan menggunakan bahasa Indonesia yang profesional namun tidak kaku.\n\nJika pengguna menanyakan hal di luar konteks hukum perdata Indonesia, tanggapi dengan sopan dan arahkan kembali ke topik yang relevan.\nContoh jawaban jika pertanyaan tidak sesuai konteks:\n\n“Maaf, saya fokus pada bidang hukum perdata Indonesia. Apakah Anda ingin saya bantu menjelaskan topik yang masih berkaitan, seperti perjanjian, waris, atau perlindungan konsumen?”\n\nSaat pertama kali pengguna memulai percakapan, sapa dengan ramah:\n“Halo! Saya LexiBot, asisten virtual Anda untuk menjawab pertanyaan seputar hukum perdata Indonesia — mulai dari KUHPerdata, perlindungan konsumen, hingga sengketa perjanjian. Ada hal tertentu yang ingin Anda tanyakan hari ini?”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1616,
        -384
      ],
      "id": "066aa37a-a674-4d64-ad96-64e1b232091c",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1728,
        224
      ],
      "id": "aac14e73-d45c-460b-837f-c792d905f742",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "sGL1GRMpYGCq8Hij",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Insert Data",
        "height": 448,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -448
      ],
      "typeVersion": 1,
      "id": "3bd76a38-2681-43be-b7ce-86ccd357a8a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Embbeding model\n",
        "height": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        64
      ],
      "typeVersion": 1,
      "id": "8c2c4777-cc80-42eb-8911-6ac1e2d2c26f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 832,
        "width": 976,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -448
      ],
      "typeVersion": 1,
      "id": "c4645448-685e-499a-8328-83456a9951c8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.message_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1712,
        -48
      ],
      "id": "6feeb596-b3ce-4997-801b-951bb236d206",
      "name": "Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Input Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        -384
      ],
      "id": "16b0feef-42d1-4d4a-911d-7326a678bb36",
      "name": "Output",
      "webhookId": "b6d3fd3e-6096-4fa3-b52f-75bcfe3384b2",
      "credentials": {
        "telegramApi": {
          "id": "M9vHpQ4OnIy2UTxu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1296,
        -384
      ],
      "id": "d09cec47-7ba1-4f10-90df-4d6609c1b364",
      "name": "Input Trigger",
      "webhookId": "3faeb40e-2f4a-491f-ba31-f55b8bb6464c",
      "credentials": {
        "telegramApi": {
          "id": "M9vHpQ4OnIy2UTxu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Unggah File",
        "formDescription": "Upload Dokumen Lain",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        656,
        -368
      ],
      "id": "7375f73d-db91-46a9-977d-28b9e195a8be",
      "name": "Data input",
      "webhookId": "0ca986dd-ddfc-497b-bab8-9048009e5776"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        176
      ],
      "id": "ae9bf1be-e06e-469b-b325-b931c3416b17",
      "name": "Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jljixwAJwkQSmhGU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        -208
      ],
      "id": "7805e7e1-0a12-472d-9c07-d5ee1902f355",
      "name": "Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jljixwAJwkQSmhGU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "ambil data dari vector database untuk knowledgebase",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n-hukum",
          "mode": "list",
          "cachedResultName": "rag-n8n-hukum"
        },
        "topK": 20,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1680,
        80
      ],
      "id": "8b578b28-3933-4402-8fef-f8b338b9cfc3",
      "name": "Vector Db1",
      "credentials": {
        "pineconeApi": {
          "id": "JL0T5YrjinKWrX7u",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n-hukum",
          "mode": "list",
          "cachedResultName": "rag-n8n-hukum"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        -368
      ],
      "id": "9cb2cef1-5ec5-4018-b8ab-c04a60deeeed",
      "name": "Vector Db",
      "credentials": {
        "pineconeApi": {
          "id": "JL0T5YrjinKWrX7u",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1456,
        -384
      ],
      "id": "f9485513-e1e1-479f-b65d-fcc66dfdb71b",
      "name": "Wait",
      "webhookId": "402048a8-5ffc-42d7-878e-3b4d184f93e2"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Db",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Vector Db1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Input Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data input": {
      "main": [
        [
          {
            "node": "Vector Db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_embedding": [
        [
          {
            "node": "Vector Db",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Vector Db1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Db1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eb80e8f3-f850-4e60-9f34-5a07068adf6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97cdaab89af73ebd5970b4d23e9d1859d7eb3b935c78db3eb6127ddba5b4902d"
  },
  "id": "xqDHci1b3AQ9eSx8",
  "tags": []
}